<a href="https://colab.research.google.com/github/mohammedayaan4555-lgtm/2025-26_DS_AI-B_Ayaan_4110/blob/main/Data_filtering%2CManipulation_and_Ranking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#filtering
import pandas as pd

#creating data
data={
    "ID":[101,102,103,104,105],
    "Name":["Alice","Bob","Charlie","David","Eva"],
    "Age":[22,25,23,24,26],
    "Marks":[85,78,92,88,90]
}

#Creating DataFrame
df=pd.DataFrame(data)
print("Original DataFrame")
print(df)

#Students with marks > 85
print("\nStudents with marks > 85:")
print(df[df["Marks"]>85])

#Students with age < 25
print("\nStudents with age < 25:")
print(df[df["Age"] < 25])

#Students with age > 23 AND marks >= 88
print("\nStudents with age > 23 AND marks >= 88:")
print(df[(df["Age"] > 23) & (df["Marks"] >= 88)])

#Students with marks > 90 OR age < 23
print("\nStuents with marks > 90 OR age < 23:")
print(df[(df["Marks"] > 90) | (df["Age"] < 23)])

Original DataFrame
    ID     Name  Age  Marks
0  101    Alice   22     85
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eva   26     90

Students with marks > 85:
    ID     Name  Age  Marks
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eva   26     90

Students with age < 25:
    ID     Name  Age  Marks
0  101    Alice   22     85
2  103  Charlie   23     92
3  104    David   24     88

Students with age > 23 AND marks >= 88:
    ID   Name  Age  Marks
3  104  David   24     88
4  105    Eva   26     90

Stuents with marks > 90 OR age < 23:
    ID     Name  Age  Marks
0  101    Alice   22     85
2  103  Charlie   23     92

In [3]:
#Data Manipulation
import pandas as pd

#Create DataFrame
data={
    "Name":["A","B","C"],
    "Age":[21,22,23],
    "Marks":[70,80,90]
}

df=pd.DataFrame(data)

print("original Data:")
print(df)


#Add new column
df["Bonus"]=5
print("\nAfter adding Bonus:")
print(df)

#Increasing marks
df["Marks"]=df["Marks"]+2
print("\nAfter increasing marks:")
print(df)

#Change value
df.loc[0,"Age"]=21
print("\nAfter changing value:")
print(df)

#Rename column
df.rename(columns={"Total":"final"},inplace=True)
print("\n After renaming total to final:")
print(df)

#Remove column
df.drop("Bonus",axis=1,inplace=True)
print("\n After removing bonus:")
print(df)

In [1]:
#ranking
import pandas as pd
data={
    "name":["A","B","C"],
    "age":[21,22,23],
    "marks":[85,90,80]
}
df=pd.DataFrame(data)
print("original data:")
print(df)
df["ranks"]=df["marks"].rank(ascending=False)
print("\n after ranking:")
print(df)

original data:
  name  age  marks
0    A   21     85
1    B   22     90
2    C   23     80

 after ranking:
  name  age  marks  ranks
0    A   21     85    2.0
1    B   22     90    1.0
2    C   23     80    3.0