<a href="https://colab.research.google.com/github/mohammedayaan4555-lgtm/2025-26_DS_AI-B_Ayaan_4110/blob/main/Grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
data={
    "Department":["IT","IT","HR","HR"],
    "Name":["A","B","c","D"],
    "Marks":[80,85,75,90]
}
df=pd.DataFrame(data)
print("Original data:")
print(df)
#Grouping
print("\n average marks by department:")
print(df.groupby("Department")["Marks"].mean())
print("\ntotal marks by Department:")
print(df.groupby("Department")["Marks"].sum())
print("\nCount by Department:")
print(df.groupby("Department")["Marks"].count())

Original data:
  Department Name  Marks
0         IT    A     80
1         IT    B     85
2         HR    c     75
3         HR    D     90

 average marks by department:
Department
HR    82.5
IT    82.5
Name: Marks, dtype: float64

total marks by Department:
Department
HR    165
IT    165
Name: Marks, dtype: int64

Count by Department:
Department
HR    2
IT    2
Name: Marks, dtype: int64