<a href="https://colab.research.google.com/github/mohammedayaan4555-lgtm/2025-26_DS_AI-B_Ayaan_4110/blob/main/data_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# data manipulaton
import pandas as pd

data={                       #creat data frame
    "Name":["A","B","C"],
    "Age":[21,22,23],
    "Marks":[70,80,90]
}
df=pd.DataFrame(data)
print("original Data:")
print(df)
df["Bonus"]=5
print("\nAfter adding Bonus:")
print(df)
df["Marks"]=df["Marks"]+2
print("\nAfter increasing marks:")
print(df)
df.loc[0,"Age"]=21
print("\nAfter changing value:")
print(df)
df.rename(columns={"Total":"final"},inplace=True)
print("\n After renaming total to final:")
print(df)
df.drop("Bonus",axis=1,inplace=True)
print("\n After removing bonus:")
print(df)

original Data:
  Name  Age  Marks
0    A   21     70
1    B   22     80
2    C   23     90

After adding Bonus:
  Name  Age  Marks  Bonus
0    A   21     70      5
1    B   22     80      5
2    C   23     90      5

After increasing marks:
  Name  Age  Marks  Bonus
0    A   21     72      5
1    B   22     82      5
2    C   23     92      5

After changing value:
  Name  Age  Marks  Bonus
0    A   21     72      5
1    B   22     82      5
2    C   23     92      5

 After renaming total to final:
  Name  Age  Marks  Bonus
0    A   21     72      5
1    B   22     82      5
2    C   23     92      5

 After removing bonus:
  Name  Age  Marks
0    A   21     72
1    B   22     82
2    C   23     92